*{
				margin: 0;
				padding: 0;
				box-sizing: border-box;
				list-style-type: none;
			}
header{
	display: flex;
		background-color: lavenderblush;
	justify-content: space-between
}
header ul{
	margin-top:20px ;
}
header input{
	height: 40px;
	width: 60px;
	border-radius: 5px;
	margin-top: 10px;
	border: 1px silver solid;
}
section{
	display: flex;
	
}
section>#left{
	margin-left: 50px;
	margin-top: 30px;
}
section>#right{
	width: 1000px;
	height: 600px;
	margin-left: 50px;
	background-color: oldlace;
}
section>#right>form{
	margin-left:250px;
	margin-top: 50px;
}

section>#right input{
	width: 300px;
}
